.lg-avatar-circle {
    width: 40px;
    height: 40px;
    background-color: var(--theme-color-1);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-center img {
    width: 100%;
    height: 60px;
    margin: 0;
}

/* Table */
.dt-buttons {
    display: none !important;
}

.table td, .table th {
    border: none !important;
    padding: 1.75rem;
}

table {
    align-items: center;
}

table td {
    align-content: center !important;
}

table {
    border-collapse: separate !important;
}

.dataTables_info {
    text-align: center;
}

.dataTables_filter {
    display: none;
}

.btn-group .dropdown-item {
    cursor: pointer !important;
}


.form-control:disabled, .form-control[readonly], .select2-container--bootstrap.select2-container--disabled .select2-selection,.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    background-color: transparent !important;
}

/* TASKS KANBAN */
#main-board {
    display: flex;
    overflow-x: auto !important;
    width: 100%;
    height: 90vh !important;
    flex-wrap: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.sortable-statuses {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.card {
    background: var(--foreground-color);
}

.card .card-body, .card .card-header, .card .card-footer {
    padding: 15px 10px !important;
    margin: 0 !important;
}

.card .card-header .status-tag {
    display: flex;
    align-items: center;
}

.card .card-header .status-tag i, .card .card-header .status-tag strong {
    text-transform: uppercase !important;
    margin: 0 5px !important;
    font-size: 14px !important;
}

.card-body #inputAddTask {
    border: none;
    background: none;
    padding: 4px 0 0 10px !important;
    margin: 0 !important;
    cursor: pointer !important;
}

.card-body #inputAddTask::placeholder {
    font-size: 14px !important;
    font-weight: 900;
}

.card-body .add-task {
    padding: 0 10px !important;
    background: none;
    border: none;
    font-size: 26px;
    color: var(--theme-color-1);
    font-weight: 900 !important;
}

.card-body .add-new-task:hover {
    background: var(--theme-color-5-10) !important;
    border-radius: 12px;
}

.card-body .add-task-card {
    position: absolute;
    z-index: 10;
    padding: 10px;
    background-color: var(--foreground-color);
}

/* CARD DE TASKS */
.sortable-tasks li .card {
    background: var(--theme-color-5-10);
}

.sortable-tasks li .card h6 {
    font-weight: 900;
    padding-bottom: 0 !important;
}

.sortable-tasks li .card ul {
    list-style: none;
    padding: 0;
}

.sortable-tasks li .card .list-status-task {
    font-size: 14px;
}

.btn-group .dropdown-item {
    font-size: 14px;
}

.sortable-tasks li .card .list-status-task strong {
    padding: 0 !important;
    margin: 2.5px 0 0 7.5px !important;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-toggle::after {
    display: none !important;
}

